.line_edit_area{
    float:left;
    height: 3000px;
    width: 30px;
    margin-top: 5px;
    font-size:18px;
    /* border-right: 2px solid gray; */
}
.text_edit_area{
    float:left;
    /* border: 1px solid #CBCBCB; */
    height: 3000px;
    width: 600px;
    resize: none;
    left: 55px;
    margin-top: 5px;
    font-size:18px;
    
}
.text_edit_area:focus{
    outline: none;
}
.wrong_text{
    border-bottom: 1px solid red;
    color:red;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
  }